.home {
    background-color: rgb(22, 21, 21);
    color: white;
    padding: 0.7%;
}

img {
    height: 200px;
    width: 150px;
    transition: all 200ms ease-in;
    border-radius: 3%;
    margin: 0.5% 0.7%;
}

img:hover {
    cursor: pointer;
    transform: scaleY(1.09);
}

h2 {
    padding: 0.5% 1%;
}

.row {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}


/* .row {
    display: flex;
} */